<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReCal Common Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReCal Course Selection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ReCal iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReCalCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>811D481119ED7EB000E3F360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811D482919ED7EB100E3F360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8144D87319EEB86B00C9EF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8144D87D19EEB86B00C9EF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A0949E1A067D6200A0C3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A094B21A067D6200A0C3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D9F25A19EF4D9600F987B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D9F26419EF4D9600F987B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81FCD28619F7E3E200B6DC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81FCD29C19F7E3E200B6DC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
